* {
  box-sizing: border-box;
}
:root {
  --main-color: #ed165a;
  --second-color: rgb(13 16 24);
}

body {
  margin: 0px;
  position: relative;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}
.navBar {
  padding: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--second-color);
  z-index: 9990;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .logo h1 {
  font-size: 22px;
  color: var(--main-color);
}

.linksMin {
  display: none;
}
.container .rightSide {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.container .rightSide .inputSearch {
  position: absolute;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 6px;
  right: 45px;
  top: 150%;
  transition: 1.1s;
}
.container .rightSide .links {
  display: flex;
  gap: 5x;
  list-style: none;
  margin: 0px;
  transition: 1s;
}
.container .rightSide .links li {
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.5s;
  margin-left: 5px;
}

.container .rightSide .links li a {
  text-decoration: none;
  color: white;
}
.container .rightSide .searchIcon i:nth-child(1) {
  padding: 10px 15px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.container .rightSide .searchIcon i:nth-child(2) {
  padding: 10px 15px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: none;
}

.bars {
  color: white;
  display: none;
}

.picture {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 84px;
}

.left {
  left: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.548);
  padding: 7px;
}

.right {
  right: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.548);
  padding: 7px;
}
.picture img {
  width: 100%;
}
.intro {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .bars {
    display: inline-block;
  }
  .container .rightSide .links {
    display: none !important;
  }
  .container .rightSide .inputSearch {
    position: relative !important ;
    width: 130px !important;
    right: 0px !important;
    top: 0px !important;
  }

  .container {
    width: 95%;
  }
  .container .rightSide .searchIcon i:nth-child(1) {
    display: none !important;
  }
  .container .rightSide .searchIcon i:nth-child(2) {
    display: none !important;
  }

  .container .rightSide .searchIcon i:nth-child(3) {
    margin-left: 15px;
  }
  .linksMin {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: -100%;
    background-color: black;
    list-style: none;
    width: 100%;
    z-index: -1;
    text-align: center;
    transition: 0.3s;
  }
  .linksMin li {
    padding: 10px;
  }
  .linksMin li:not(:last-child) {
    border-bottom: 1px solid rgb(129, 129, 129);
  }
  .linksMin li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}
